%div{ 'style' => "text-align: center; color: #{OPTS.font_color};" }
  %h1
    = t('.header', name: OPTS.image_caption)
  %p
    = t('.content')
  %p
    = t('.greeting')
  %p
  = '--' 
  %p
    = link_to 'github.com/digitaltom/photobooth/', 'https://github.com/digitaltom/photobooth/'
