!!!
%html{'ng-app'=>'photoBooth', 'ng-strict-di'=> true}
  %head
    %title Photobooth
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    = favicon_link_tag '/favicon.ico'
    = stylesheet_link_tag 'vendor_application', media: 'all'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'vendor_application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    = yield(:head)

  %body

    %script{'type'=>"text/ng-template", 'id'=>"alert.html"}
      %div.alert{'style'=>"background-color:#fa39c3;color:white", 'role'=>"alert"}
        %div{'ng-transclude'=>'true'}

    %script{'type'=>"text/ng-template", 'id'=>"picture_shoot.html"}
      %div.modal-header
        %h3.modal-title
          Taking pictures
      %div.modal-body
        %h3
          %b
            Action,
          taking 4 pictures

        %uib-progressbar.progress-striped.active{ max: "4", value: "current_shoot" }
          %i
            {{shoot_progress}}

        - (1..4).each_with_index do |i|
          = image_tag 'shoot_still_sw.png', { 'class' => 'countdown-img', 'ng-class' => "{ 'hidden': current_shoot >= #{i} }" }
          = image_tag 'shoot_animation.gif', { 'class' => 'countdown-img', 'ng-class' => "{ 'hidden': current_shoot != #{i} }" }
          = image_tag 'shoot_still.png', { 'class' => 'countdown-img', 'ng-class' => "{ 'hidden': current_shoot <= #{i} }" }

      %div.modal-footer

    %uib-alert{'ng-repeat'=>"alert in alerts", 'type'=>"{{alert.type}}", 'dismiss-on-timeout'=>'10000', 'close'=>"closeAlert($index)"}
      {{alert.msg}}


    %div{'ng-view' => true}
